# Ignore data folder
data/

# Ignore logs
logs/
# Ignore models
models/
# Ignore Python cache
src/__pycache__/

# Python bytecode
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings (if applicable)
.vscode/
